<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="{{ url_for('styles', filename='styles.css') }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>{{ title }}</title>
</head>
<div class="window">
  {% block header %}
  {% include "header.html" %}
  {% endblock %}
    <div class="window-content">
        {% block sidebar %}
        {% include "sidebar.html" %}
        {% endblock %}

        {% if selected_button == 'home' %}
        {% block home %}
        {% include "home.html" %}
        {% endblock %}

        {% elif selected_button == 'who_i_am' %}
        {% block whoiam %}
        {% include "whoiam.html" %}
        {% endblock %}

        {% elif selected_button == 'skills' %}
        {% block skills %}
        {% include "skills.html" %}
        {% endblock %}

        {% elif selected_button == 'contact' %}
        {% block contact %}
        {% include "contact.html" %}
        {% endblock %}

        {% endif %}

    </div>
</div>
</html>
