{% block skills %}
<link rel="stylesheet" type="text/css" href="{{ url_for('styles', filename='skills.css') }}">
<div class="window-cons">
    <div class="card">
        <h2>Development Skills</h2>

        <p class="skill python">
            <span>Python</span>
            <span class="level">87%</span>
          </p>

        <p class="skill сsharp">
            <span>C#</span>
            <span class="level">43%</span>
        </p>

        <p class="skill cpp">
            <span>C++</span>
            <span class="level">34%</span>
        </p>  

        <p class="skill javascript">
            <span>JavaScript</span>
            <span class="level">15%</span>
          </p>

        <p class="skill html">
            <span>HTML</span>
            <span class="level">66%</span>
          </p>

        <p class="skill css">
          <span>CSS</span>
          <span class="level">61%</span>
        </p>

        <h2>Python Testing Frameworks SkillS</h2>

        <p class="skill unittest">
            <span>UnitTest</span>
            <span class="level">88%</span>
        </p>

        <p class="skill pytest">
            <span>PyTest</span>
            <span class="level">57%</span>
        </p>

        <p class="skill robot">
            <span>RobotFramework</span>
            <span class="level">55%</span>
        </p>
  
        <h2>Other Frameworks SkillS</h2> 

        <p class="skill flask">
            <span>Flask</span>
            <span class="level">74%</span>
        </p>

        <p class="skill pyqt">
            <span>PyQT</span>
            <span class="level">67%</span>
        </p>

        <p class="skill django">
            <span>Django</span>
            <span class="level">33%</span>
        </p>
      </div>
</div>

{% endblock %}
