{% block whoiam %}
<link rel="stylesheet" type="text/css" href="{{ url_for('styles', filename='who.css') }}">
<div class="window-console">
  <div class="container">
    <div class="card-body">
      <div class="card-img">
        <img src="static/human.png" />
      </div>
      <div class="card-title">
        <b>Lorem Ipsum</b>
      </div>
      <li><b>Age: {{age}}</b> </li>
      <li><b>Based in: country</b></li>
      <div class="card-about">
        <i>some description </i>
      </div>
    </div>
    <div class="card-body professional-interests">
      <div class="card-title">
        <b>Professional Interests</b>
      </div>
      <div class="interests">
        <div class="interest-item">
          <img src="static/web-design.png" alt="Web Design" />
          <p>Web-Design</p>
        </div>
        <div class="interest-item">
          <img src="static/server.png" alt="Backend" />
          <p>Backend</p>
        </div>
        <div class="interest-item">
          <img src="static/qa.png" alt="QA" />
          <p>QA</p>
        </div>
        <div class="interest-item">
          <img src="static/cloud-server.png" alt="Cloud" />
          <p>Cloud</p>
        </div>
        <div class="interest-item">
          <img src="static/algorithms.png" alt="Algorithms" />
          <p>Algorithms</p>
        </div>
        <div class="interest-item">
          <img src="static/database.png" alt="Big Data" />
          <p>Big Data</p>
        </div>
        <div class="interest-item">
          <img src="static/technical.png" alt="Technical Literature" />
          <p>Technical literature</p>
        </div>
        <div class="interest-item">
          <img src="static/ML.png" alt="Machine Learning" />
          <p>Machine Learning</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
