
body {
    flex: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.window {
    flex: 1;
    background-color: #1b1b1b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.window-header {
    background-color: #1b1b1b;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #000000;
    width: 100%;
}

.window-buttons {
    margin-right: 10px;
}

.window-buttons span {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 25px;
}

.window-buttons span:nth-child(1) {
    background-color: #ff5f56;
}

.window-buttons span:nth-child(2) {
    background-color: #ffbd2e;
}

.window-buttons span:nth-child(3) {
    background-color: #27c93f;
}

.window-content {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    color: #fff;
    box-sizing: border-box;
    border-right: 3px solid #000000;
    height: 100%;
    

    
}

.sidebar-item {
    background-color: inherit;
    padding: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.sidebar-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: white; 
    text-rendering: geometricPrecision;
    text-shadow: #1b1b1b;
}

/* Root variables */
:root {
    --bg: #1b1b1b;
    --clr: #fff;
 }
 
 /* Reset and base styles */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 /* Sidebar styles */
 .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 35px;
 }
 
 .sidebar-item {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    margin: 3vh;
 }
 
 .sidebar-item::before {
    content: "";
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22px var(--clr);
    transition: 0.5s;
 }
 
 .sidebar-item:hover::before {
    inset: 15px;
 }
 
 .sidebar-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
    transition: 0.5s;
 }
 
 .sidebar-item:hover::after {
    inset: 0px;
    transform: rotate(0deg);
 }
 
 .sidebar-item a {
    position: relative;
    text-decoration: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
 }
 
 .sidebar-item a img {
    font-size: 2em;
    transition: 0.5s;
    color: var(--clr);
    opacity: 1;
    width: 50px; 
    height: 50px; 
    margin-bottom: 10px;
 }
 
 .sidebar-item:hover a img {
    color: var(--clr);
    transform: translateY(-40%);
 }
 
 .sidebar-item a span {
    position: absolute;
    font-family: sans-serif;
    color: var(--clr);
    opacity: 0;
    transition: 0.5s;
    transform: scale(0) translateY(200%);
 }
 
 .sidebar-item:hover a span {
    opacity: 1;
    transform: scale(1) translateY(100%);
 }
 
 .sidebar-item:hover a img,
 .sidebar-item a span {
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
 }