@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Oswald:wght@200..700&family=Poetsen+One&display=swap');
@import url(
    'https://fonts.googleapis.com/css2?family=Fjalla+One&family=Jersey+25+Charted&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poetsen+One&display=swap'
    );
.window-console {
    background-image: url("/static/peakpx1.jpg");
    background-size: 130% 130%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
    perspective: 150vh;
}
  
.content {
    margin-top: 2.5%;
    width: 90%;
    display: flex;
    flex-wrap: wrap; 
    color: aliceblue;
}
  
.main-content {
    display: flex;
    flex-direction: column;
    align-items:baseline; 
    background-color: rgba(0, 0, 0, 0.5);
    width: 45%;
    margin-bottom: 2.5%; 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    box-shadow: 0 0 30px rgba(128, 0, 128, 0.7); 
    border-radius: 5px;
}


.main-content li {
    font-size: 20px;
    margin: 5px;
    font-weight: 800;
    font-style: italic;
}

.main-content h1 {
    -webkit-text-stroke: 0.5px rgb(116, 0, 248); 
    text-shadow: 0 0 10px rgba(246, 246, 246, 0.3); 
    font-style: italic;
    text-align: center;
    margin: 2%;
}
.main-content h3 {
    margin: 1.5vh;
    font-size: 20px;
    font-style: italic;
    -webkit-text-stroke: 0.5px rgb(255, 0, 234);
}

.bot-bar {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0  30px rgba(128, 0, 128, 0.7); 
    border-radius: 50px;
}
.bot-bar h1{
    margin: 30px;
    font-size: 25px;
    text-align: left;
    font-weight: 800;
    color: rgb(255, 255, 255); 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

  .sidebar-who {
    width: 10%;
  }
  
  .image-container {
    margin: 2%;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0  30px rgba(128, 0, 128, 0.7); 
  }
  
  .image-container img {
    display: block;
    width: 200px;
    height: 200px;
  }

  .interests {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
  }

  .interest {
    display: inline-block; 
    text-align: center;
    margin: 1vh 4vh;
    margin-bottom: 2vh;

  }
  
  .interest img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }
@keyframes scale {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 15vh) scale(1);
    }
  }
  
  p {
    position:absolute;
    width: 15vw;
    height: 15vw;
    background: rgba(255, 0, 0, 0.5);
  }
  
  p:nth-child(1) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -105vh);
    filter: hue-rotate(6deg);
    animation: slide-6 ease-in-out 10s infinite;
  }
  @keyframes slide-6 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 102vh) scale(0.2);
    }
  }
  
  p:nth-child(2) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -85vh);
    filter: hue-rotate(42deg);
    animation: slide-5 ease-in-out 10s infinite;
  }
  @keyframes slide-5 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 85vh) scale(0.25);
    }
  }
  
  p:nth-child(3) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -68vh);
    filter: hue-rotate(78deg);
    animation: slide-4 ease-in-out 10s infinite;
  }
  @keyframes slide-4 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 68vh) scale(0.3);
    }
  }
  
  p:nth-child(4) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -51vh);
    filter: hue-rotate(114deg);
    animation: slide-3 ease-in-out 10s infinite;
  }
  @keyframes slide-3 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 51vh) scale(0.35);
    }
  }
  
  p:nth-child(5) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -34vh);
    filter: hue-rotate(150deg);
    animation: slide-2 ease-in-out 10s infinite;
  }
  @keyframes slide-2 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 34vh) scale(0.4);
    }
  }
  
  p:nth-child(6) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -17vh);
    filter: hue-rotate(186deg);
    animation: slide-1 ease-in-out 10s infinite;
  }
  @keyframes slide-1 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 17vh) scale(0.45);
    }
  }
  
  p:nth-child(7) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 0vh);
    filter: hue-rotate(222deg);
    animation: slide0 ease-in-out 10s infinite;
  }
  @keyframes slide0 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 0vh) scale(0.5);
    }
  }
  
  p:nth-child(8) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 17vh);
    filter: hue-rotate(258deg);
    animation: slide1 ease-in-out 10s infinite;
  }
  @keyframes slide1 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -17vh) scale(0.55);
    }
  }
  
  p:nth-child(9) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 34vh);
    filter: hue-rotate(294deg);
    animation: slide2 ease-in-out 10s infinite;
  }
  @keyframes slide2 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -34vh) scale(0.6);
    }
  }
  
  p:nth-child(10) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 51vh);
    filter: hue-rotate(330deg);
    animation: slide3 ease-in-out 10s infinite;
  }
  @keyframes slide3 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -51vh) scale(0.65);
    }
  }
  
  p:nth-child(11) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 68vh);
    filter: hue-rotate(366deg);
    animation: slide4 ease-in-out 10s infinite;
  }
  @keyframes slide4 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -68vh) scale(0.7);
    }
  }
  
  p:nth-child(12) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 85vh);
    filter: hue-rotate(402deg);
    animation: slide5 ease-in-out 10s infinite;
  }
  @keyframes slide5 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -85vh) scale(0.75);
    }
  }
  
  p:nth-child(13) {
    transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, 102vh);
    filter: hue-rotate(438deg);
    animation: slide6 ease-in-out 10s infinite;
  }
  @keyframes slide6 {
    50% {
      transform: rotateX(45deg) rotateZ(45deg) translate3d(0vh, 0vh, -102vh) scale(0.8);
    }
  }